<mat-card>
  <mat-card-header>
    <h1>Agenda</h1>
  </mat-card-header>
  <mat-card-content>

    <div class="row">
      <div class="cell1">
        <div  class="vistaMes">
          <div class="mes">
            <div>
              <button mat-icon-button style="float: left; " (click)="PreviewMonth_Event()" >
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button>
                  <p> {{this.labelCalendar}} </p>

                  <button mat-icon-button style="float: left;margin-left: 2.2rem;" (click)="NextMonth_Event()" >
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </button>
            </div>
            <div class="dateoption">
              <button class="mat-button" (click)="Today_Event()">Today</button>
              <button class="mat-button" (click)="CurrentMonth_Event()">Current Month</button>
              <button class="mat-button" (click)="LastMonth_Event()">Last Month</button>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Dom</th>
                  <th> <span>Lun</span></th>
                  <th>Mar</th>
                  <th>Mier</th>
                  <th>Juev</th>
                  <th>Vier</th>
                  <th>Sab</th>
                </tr>
              </thead>
              <tbody>
             <tr>
               <td *ngFor="let item of this.calendar.slice(0,7)" class="{{item.nameCssClass}}"> {{item.date | date: 'd'}} </td>
             </tr>
             <tr>
              <td *ngFor="let item of this.calendar.slice(7,14)" class="{{item.nameCssClass}}">{{item.date | date: 'd'}} </td>
            </tr>
            <tr>
              <td *ngFor="let item of this.calendar.slice(14,21)" class="{{item.nameCssClass}}">{{item.date | date: 'd'}} </td>
            </tr>
            <tr>
              <td *ngFor="let item of this.calendar.slice(21,28)" class="{{item.nameCssClass}}"> {{item.date | date: 'd'}} </td>
            </tr>
            <tr>
              <td *ngFor="let item of this.calendar.slice(28,35)" class="{{item.nameCssClass}}"> {{item.date | date: 'd'}}</td>
            </tr>
            <tr>
              <td *ngFor="let item of this.calendar.slice(35,42)" class="{{item.nameCssClass}}"> {{item.date | date: 'd'}}</td>
            </tr>
              </tbody>
            </table>
            </div>
      </div>
      </div>
      <div class="cell1 agenda">
          <h3>Your Agenda</h3>
      </div>
    </div>



  </mat-card-content>
</mat-card>
