<mat-card>
  <mat-card-title>
    <h3><mat-icon>assignment</mat-icon> Tickets</h3>
  </mat-card-title>
  <mat-card-content *ngIf="isready && nvista == 0">
    <div class="content-tasks">
      <h4 style="text-align: left;"> <mat-icon>dns</mat-icon> Tickets <span style="float: right; cursor: pointer;"><mat-icon>sync</mat-icon></span></h4>
      <ol>
        <li *ngFor="let item of listTickets  let i = index" (click)="getInformationTicket(i)">
          <div class="{{item.cssClass}}">
                <div class="custom">
                    <div class="custom-img">
                      <img class="user-image" src="{{item.profile}}">
                    </div>
                    <div class="custom-info">
                      <p><strong>{{item.customer}}</strong>  <br> {{item.company}} - {{item.position}} <br> <small>{{item.dateT | date:'medium'}}</small></p>

                    </div>
                </div>
                <blockquote>
               {{item.subject}}
                </blockquote>
          </div>
        </li>

      </ol>
    </div>
    <div class="content-details">
      <h4 style="text-align: left;"> <mat-icon>receipt</mat-icon> Detail</h4>

      <div class="task-info"  *ngIf="showDetail">
          <div class="task-userInfo">
              <div class="custom">
                  <div class="custom-img">
                    <img class="user-image" src="{{ticketSelected.profile}}">
                  </div>
                  <div class="custom-info">
                    <p><strong>{{ticketSelected.customer}}</strong> </p>
                    <p>{{ticketSelected.position}}</p>
                  </div>
                  <div class="task-action">
                      <div class="action-btn-wrapper">
                        <div class="fixed-action-btn my-custom-btn horizontal">
                          <button mat-icon-button id="float-btn">
                            <mat-icon>more_horiz</mat-icon>
                            </button>
                          <ul id="float-menu">
                            <li><a>
                              <button mat-icon-button>
                                <mat-icon>add_alarm</mat-icon>
                              </button>
                            </a></li>
                              <li><a  (click)="resolution()">
                                <button mat-icon-button (click)="resolution()">
                                  <mat-icon>check</mat-icon>
                                </button>
                              </a></li>
                          </ul>
                      </div>
                      </div>
                  </div>
              </div>
              <label><strong>Subject :</strong></label>
              <p>{{ticketSelected.subject}}</p>
          </div>
          <hr>
          <div class="task-info">
           <div [innerHTML]="ticketSelected.body"></div>
          </div>

          <div style="background-color: #f1f6fbc7; border-radius: 5px;"  *ngIf="(listFiles.length > 0)">
            <h5 style="display: flex;">
              <mat-icon> attach_file</mat-icon>
              <span style="margin-top: 0.5vh;">  Attachment</span>
            </h5>
            <ul class="listFile">
              <li *ngFor="let file of listFiles">
                <img [src]="file.img" height="50">
                <span id="file-label">{{file.name}} </span>
              </li>
            </ul>
          </div>
      </div>
      <div class="task-info"*ngIf="!showDetail">
        <h5>nothing selected yet...</h5>
      </div>
    </div>
    <div class="content-documents">
      <h4  style="text-align: left;"> <mat-icon> attach_file</mat-icon> Contact</h4>

      <div class="task-info"  *ngIf="showDetail">
        <div class="task-userInfo">
            <div >
                <div style="display: inline-flex;width: 100%;">
                  <img style="max-width: 24vh;max-height: 24vh;margin: 0 auto;" class="user-image" src="{{ticketSelected.profile}}">
                </div>
                <div class="custom-info">
                  <p><strong>{{ticketSelected.customer}}</strong> </p>
                  <p>{{ticketSelected.position}}</p>
                  <p><mat-icon> mail_outline</mat-icon> usermail@company.com</p>
                  <p><mat-icon>language</mat-icon> userskype</p>
                  <p><mat-icon> phone</mat-icon> 505 - 99999999</p>
                </div>
            </div>

        </div>
    </div>
    </div>
  </mat-card-content>

<div *ngIf="nvista == 1">
  <mat-card-content>
    <div fxLayout="row" class="row">
      <div class="column c1">
          <div class="custom">
            <div class="custom-img">
              <img class="user-image" src="{{ticketSelected.profile}}">
            </div>
            <div class="custom-info">
              <p><strong>{{ticketSelected.customer}}</strong> </p>
              <p>{{ticketSelected.position}}</p>
            </div>
            <p><strong>Subject :</strong> {{ticketSelected.subject}}</p>
          </div>

          <div class="row">
            <div style="margin-top: 2vh;">
              <angular-editor  [config]="editorConfig"></angular-editor>
            </div>
           </div>
           <div fxLayout="column" class="row">
            <div class="row" style="margin-top:2vh;">

              <button style="border: 1px solid #c0c0c0;" type="button" (click)="fileUpload.click()" mat-button> <mat-icon> attach_file </mat-icon> Add file</button>
              <input #fileUpload  style="display: none;" id="fileUpload" name="fileUpload" multiple="multiple"  type='file' (change)="onSelectFile($event)">
            </div>
            <ul class="listFile">
              <li *ngFor="let file of files">
                <!--<mat-progress-bar [value]="file.progress"></mat-progress-bar>  -->
                <img [src]="file.img" height="50">
                <span id="file-label">{{file.name}} </span>
              </li>
            </ul>
          </div>
        </div>
      <div class="column c1">
          <!-- <mat-form-field>
            <input matInput [owlDateTime]="dt1"   [owlDateTimeTrigger]="dt1" placeholder="Date Time Init">
            <owl-date-time  #dt1></owl-date-time>
          </mat-form-field>
          <mat-form-field>
            <input matInput [owlDateTime]="dt2"   [owlDateTimeTrigger]="dt2" placeholder="Date Time Finish">
            <owl-date-time  #dt2></owl-date-time>
          </mat-form-field>
          <mat-form-field >
            <textarea matInput rows="3" placeholder="Comment"></textarea>
          </mat-form-field> -->
         <app-task [idTicket] = 1 ></app-task>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn btn-primary mr-1" mat-raised-button color="primary">Save</button>
    <button class="btn btn-secondary" mat-raised-button type="reset" (click)="onBack()">Cancel</button>
  </mat-card-actions>
</div>
</mat-card>
