<div *ngIf="vista == 0">

<div class="row" style="padding-bottom: 1vh;" >
  <div style="width: 13vh;">
    <button class="btn btn-primary mr-1" (click)="openform()" mat-raised-button color="primary">Add Task</button>
  </div>
  <div style="width: 80%;">
    <label style="float: right;"> {{esfuerzo}}</label>
  </div>
</div>
<div class="row">
      <ul style="list-style: none;width: 100%;margin-left: -5vh;">
        <li class="task" *ngFor="let items of listTask  let i = index" style="display: flex;">
          <div class="header-task">
            <span><mat-icon>check_circle_outline</mat-icon></span>
            <div>
              <h5> {{items.description}} </h5>
              <p> <small> Date : {{items.started | date:'medium' }}  to {{items.finished | date:'medium'}} </small> </p>
              <p> Total time : {{items.typeText}} </p>
            </div>
          </div>
          <div class="task-action">
            <div class="action-btn-wrapper">
              <div class="fixed-action-btn my-custom-btn horizontal">
                <button mat-icon-button id="float-btn">
                  <mat-icon>more_horiz</mat-icon>
                  </button>
                <ul id="float-menu">
                  <li><a><button mat-icon-button><mat-icon>delete</mat-icon></button></a></li>
                  <li><a><button mat-icon-button (click)="editTask(i)"><mat-icon>create</mat-icon></button></a></li>
                </ul>
            </div>
            </div>
        </div>
        </li>
      </ul>
  </div>
</div>
<div class="row" *ngIf="vista == 1">

  <form style="width: 94%;">
  <h4>Add Task</h4> <span>{{esfuerzo}}</span>
  <mat-form-field class="row">
    <input matInput [formControl]="formTask.controls.description" placeholder="Main Task">
  </mat-form-field>
  <h5>Sub-tasks</h5>
  <ol class="subTask">
    <li>
     <span (click)="addSubTask()" *ngIf="!writeSubTask"> click here to add subtask </span>
     <div *ngIf="writeSubTask">
       <div class="field-subtask">
         <mat-form-field  class="row">
           <input type="text" matInput placeholder="description" [formControl]="formSubTask.controls.description">
         </mat-form-field>
        <div class="row">
          <div class="column">
            <mat-form-field>
              <mat-select placeholder="Type Task" [formControl]="formSubTask.controls.typeTask">
                <mat-option *ngFor="let opt of listtype" [value]="opt.id">{{opt.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field>
              <input matInput [owlDateTime]="dt1" [formControl]="formSubTask.controls.start"  [owlDateTimeTrigger]="dt1" placeholder="Date Time Init">
              <owl-date-time  #dt1></owl-date-time>
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field>
              <input matInput [owlDateTime]="dt2"  [formControl]="formSubTask.controls.finish"  [owlDateTimeTrigger]="dt2" placeholder="Date Time Finish">
              <owl-date-time  #dt2></owl-date-time>
            </mat-form-field>
            <mat-error *ngIf="formSubTask.controls.finish.hasError('mustGreatest')">
             Finish date must be 5 min greatest than start date
            </mat-error>
          </div>
        </div>
       </div>
       <div class="action-subtask">
          <button class="btn btn-primary mr-1" (click)="registerSubTask()" mat-raised-button color="primary">Add</button>
          <button class="btn btn-secondary" mat-raised-button type="reset" (click)="cancelSubTask()">Cancel</button>
       </div>
      </div>
    </li>
  </ol>
      <div *ngFor="let item of listSubTask let i = index">

          <div class="timeline" *ngIf="!item.isdeleted">
            <div class="timeline-icon">
              <!-- <mat-icon>done</mat-icon>  -->
              {{item.index}}
            </div>
            <div class="timeline-body">
              <p>
                <span> {{item.description }} </span> <span class="flag">{{item.typeText}}</span>
              </p>
              <span class="btndelete" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></span>
              <p>
                <span style="float: left;"><mat-icon>alarm</mat-icon> {{item.started | date:'medium'}} </span>
                <span style="float: right;"><mat-icon>alarm</mat-icon> {{item.finished | date:'medium'}} </span>
              </p>

            </div>
          </div>

          <!-- <div *ngIf="item.selected">
            <div class="field-subtask">
              <mat-form-field  class="row">
                <input type="text" matInput placeholder="description" rows="2">
              </mat-form-field>
          <div class="row">
            <div class="column">
              <mat-form-field>
                <mat-select placeholder="Type Task">
                <mat-option>Control</mat-option>
                <mat-option>Debugger</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="column">
              <mat-form-field>
                <input matInput [owlDateTime]="dt1"   [owlDateTimeTrigger]="dt1" placeholder="Date Time Init">
                <owl-date-time  #dt1></owl-date-time>
                </mat-form-field>
              </div>
            <div class="column">
              <mat-form-field>
                <input matInput [owlDateTime]="dt2"   [owlDateTimeTrigger]="dt2" placeholder="Date Time Finish">
                <owl-date-time  #dt2></owl-date-time>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="action-subtask">
            <button class="btn btn-primary mr-1" (click)="registerSubTask()" mat-raised-button color="primary">Add</button>
            <button class="btn btn-secondary" mat-raised-button type="reset" (click)="cancelSubTask()">Cancel</button>
          </div>
          </div> -->

    </div>
  <div class="action-task">
    <button class="btn btn-primary mr-1" (click)="registerTask()" mat-raised-button color="primary">{{titleActionTask}}</button>
    <button class="btn btn-secondary" mat-raised-button type="reset" (click)="cancelTask()">Cancel</button>
  </div>
</form>
</div>
