.listFile {
  list-style: none;
  display: inline-flex;
   li {
     display: grid;
     width: 15vh;
     label {
       font-size: 12px;
       color:#1a254e;
     }
   }
}

.hidden {
  display: none;
}
.show {
  display: block;
  background-color: white;
}

span.lbPriority {
    border-radius: 3px;
    display: block;
    padding: .2em .6em .3em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    width: 10vh;
}

.Baja {
  background-color: #0f6c29; //
}

.Alta {
  background-color: #d02d2d;
}

.Media {
  background-color: #dfa915;
}


.custom {
  margin-bottom: 15px;
  .custom-img{
    display: table-cell;
    vertical-align: top;
  }
  .custom-info{
    display: table-cell;
    vertical-align: top;
    p{padding: 0vh 0.2vh 0vh 1.2vh; margin: 1.2vh;}
  }
}
