a {
  font-size: smaller;
  margin-left: 0.5rem;
  display: block;
  color: #fff;
  text-decoration: none;
  .mat-icon {
    font-size: 2.0vh;
  }
}

.header {
  background-color: #0b1131;
  h4 {
    color: #fff;
  }
}
.sidebar-item-active {
  background-color: #0e1e4e;
  border-radius: 12px 0px 0px 12px;
}

.Cntavatar {
  display: grid;
  padding-bottom: 1.8vh;
  background-color: #202a52;
  .avatar {
    margin: 0 auto;
    margin-top: 2vh;
    border: 2px solid #f8de24;
    border-radius: 40px;
    padding: 0 4px 0px 0px;
    img {
      max-height: 4rem !important;
    }
  }
  p {
    margin: 0;
    text-align: center;
  }
  small {
    font-size: 12px;
    text-align: center;
    padding: 0 0.4vh 0 0.4vh;
  }
}

.menu {
  ul{
    list-style: none;
    padding-left: 3vh;
    li {
      padding: 7px 0px;
    }
  }
  span.title {
    font-size: 13px;
    font-weight: 800;
    color: #6d9dc5;
  }
}

.chat-container {
  display: flex;
  position: fixed;
  bottom: 11px;
  margin-left: 5vh;
  border: 1px solid #b56a0d;
  border-radius: 25px;
}
