<mat-toolbar  class="header">
    <!-- <img src="assets/img/logo.jpg" id="logoSistema" width=40> -->
    <h4>Ticket Manager</h4>
</mat-toolbar>

<div class="Cntavatar">
    <div class="avatar">
      <div  fxlayout="row" fxlayoutalign="center center" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
        <img  class="user-image" src="../assets/img/man-avatar.png">
  </div>
    </div>
    <p>{{userInfo.name}}</p>
    <!-- <small>eduardo.mercado@juegaok.com</small> -->
    <small>Analista-Programador</small>
</div>

<div class="menu">
    <h5>
      <span class="title"> Menu</span>
    </h5>

    <div *ngFor="let item of options">
    <a>
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name}}</span>
    </a>
    <ul>
      <li  *ngFor="let node of item.nodes" (click)="getItemSelected(node.idOption)"  class="{{node.nameCssClass}}">
        <a routerLink="{{node.path}}" >
          <mat-icon>{{node.icon}}</mat-icon>
          <span>{{node.name}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="chat-container">
  <button mat-icon-button (click)="logOut()" >
    <mat-icon>power_settings_new</mat-icon>
    </button>
</div>
