.img-profile {
  max-height: 27vh;
  border-radius: 19vh;
  max-width: 27vh;
  padding: 10vh 6.5vh;
}

div.contenedorImg {
  margin: 0 auto;
  max-height: 40vh;
  max-width: 40vh;
  border: 1px solid #397ab3;
  border-radius: 5px;
  height: 40vh;
  width: 40vh;
}
