.img-profile {
  max-height: 27vh;
  border-radius: 19vh;
  max-width: 27vh;
  padding: 10vh 6.5vh;
}

div.contenedorImg {
  margin: 0 auto;
  max-height: 40vh;
  max-width: 40vh;
  border: 2px dashed #397ab3;
  height: 40vh;
  width: 40vh;
}

legend {
  text-align: center;
    color: #1e2b6f;
}
