<div class="row">

  <div class="col1">
    <img src="../../../assets/img/background.png">
  </div>
  <div class="col2">
    <div class="title">
      <img src="../../../assets/img/ticket.jpg">
      <h1>Ticket Manager</h1>
    </div>
    <form>
      <div fxLayout="column" class="row">
        <mat-form-field class="column">
          <mat-label>UserName</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div fxLayout="column" class="row">
        <mat-form-field class="column">
          <mat-label>Password</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="action">
        <a>Forget me password :( </a>
        <br>
        <button class="btn btn-primary mr-1" type="button" mat-raised-button color="primary" (click)="login()">Login</button>
        <button class="btn btn-secondary" mat-raised-button type="reset" >Reset</button>
      </div>
    </form>
  </div>
</div>
<footer>
  <p>Todos los derechos reservados a mí :) </p>
</footer>
