<div class="row">

  <div class="col1">
    <img src="../../../assets/img/background.png">
  </div>
  <div class="col2">
    <div class="title">
      <img src="../../../assets/img/ticket.jpg">
      <h1>Ticket Manager</h1>
    </div>
    <form [formGroup]="loginForm">
      <div fxLayout="column" class="row">
        <mat-form-field class="column">
          <mat-label>UserName</mat-label>
          <input matInput  formControlName="username">
          <mat-error *ngIf="loginForm.controls.username.hasError('required')" class="invalid-feedback">
            User Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column" class="row">
        <mat-form-field class="column">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password">
          <mat-error *ngIf="loginForm.controls.password.hasError('required')" class="invalid-feedback">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="action">
        <a>Forget me password :( </a>
        <br>
        <button class="btn btn-primary mr-1" type="button" mat-raised-button color="primary" (click)="login()">Login</button>
        <button class="btn btn-secondary" mat-raised-button type="reset" >Reset</button>
      </div>
    </form>
  </div>
</div>
<footer>
  <p>Todos los derechos reservados a mí :) </p>
</footer>
